<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Product
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="centered-limited-width ion-text-center">
    <ion-card-content>
      <form [formGroup]="formGroup">
        <mat-form-field class="mat-form-field-full-width">
          <mat-label>
            Product Name
          </mat-label>
          <input
            matInput
            formControlName="name"
            type="text"
            autocapitalize="words"
          />
          <mat-error *ngIf="formGroup.controls['name'].hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="mat-form-field-full-width">
          <mat-label>
            Manufacturer
          </mat-label>
          <input
            matInput
            formControlName="manufacturer"
            type="text"
            autocapitalize="words"
          />
          <mat-error *ngIf="formGroup.controls['manufacturer'].hasError('required')">
            Manufacturer is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="mat-form-field-full-width">
          <mat-label>
            Cost
          </mat-label>
          <input
            matInput
            required
            formControlName="cost"
            type="number"
          />
          <mat-error *ngIf="formGroup.controls['cost'].hasError('required')">
            Cost is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="mat-form-field-full-width">
          <mat-label>
            Price
          </mat-label>
          <input
            matInput
            required
            formControlName="price"
            type="number"
          />
          <mat-error *ngIf="formGroup.controls['price'].hasError('required')">
            Price is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>
    </ion-card-content>
  </div>
</ion-content>
