<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Product
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="centered-limited-width ion-text-center">
    <ion-card-content>
      <form [formGroup]="formGroup">
        <ion-row>
          <ion-col>
            <mat-form-field class="mat-form-field-full-width">
              <mat-label>
                Product ID
              </mat-label>
              <input
                matInput
                formControlName="productId"
                type="text"
              />
              <mat-error *ngIf="formGroup.controls['productId'].hasError('required')">
                Product ID is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </ion-col>
          <ion-col>
            <mat-form-field class="mat-form-field-full-width">
              <mat-label>
                Product Name
              </mat-label>
              <input
                matInput
                formControlName="name"
                type="text"
                autocapitalize="words"
              />
              <mat-error *ngIf="formGroup.controls['name'].hasError('required')">
                Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </ion-col>
          <ion-col>
            <mat-form-field class="mat-form-field-full-width">
              <mat-label>
                Manufacturer
              </mat-label>
              <input
                matInput
                formControlName="manufacturer"
                type="text"
                autocapitalize="words"
              />
              <mat-error *ngIf="formGroup.controls['manufacturer'].hasError('required')">
                Manufacturer is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </ion-col>
          <ion-col>
            <mat-form-field class="mat-form-field-full-width">
              <mat-label>
                Cost
              </mat-label>
              <input
                matInput
                required
                formControlName="cost"
                type="number"
              />
              <mat-error *ngIf="formGroup.controls['cost'].hasError('required')">
                Cost is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </ion-col>
          <ion-col>
            <mat-form-field class="mat-form-field-full-width">
              <mat-label>
                Price
              </mat-label>
              <input
                matInput
                required
                formControlName="price"
                type="number"
              />
              <mat-error *ngIf="formGroup.controls['price'].hasError('required')">
                Price is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </ion-col>
        </ion-row>
      </form>
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>
        Inventory
      </ion-card-title>
    </ion-card-header>
    <div *ngIf="!item?.inventory?.items?.length">
      No Inventory
    </div>
    <ion-list *ngIf="item?.inventory?.items?.length">
      <mat-form-field class="mat-form-field-full-width">
        <mat-icon matPrefix>search</mat-icon>
        <mat-label>Search Inventory</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
      </mat-form-field>
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        (matSortChange)="announceSortChange($event)"
      >
        <ng-container matColumnDef="warehouseId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by warehouse ID">
            Warehouse
          </th>
          <td mat-cell *matCellDef="let element">
            <ion-item lines="none" class="ion-no-padding ion-no-margin">
              <ion-label>
                <p>
                  {{element.warehouseId}}
                </p>
                <h2>
                  {{element.warehouse.name}}
                </h2>
              </ion-label>
            </ion-item>
          </td>
          <td mat-footer-cell *matFooterCellDef> Total</td>
        </ng-container>
        <ng-container matColumnDef="inventory">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by inventory">
            Inventory
          </th>
          <td mat-cell *matCellDef="let element">
            <h1>
              {{element.inventory}}
            </h1>
          </td>
          <td mat-footer-cell *matFooterCellDef> {{getTotalInventory()}} </td>
        </ng-container>
        <ng-container matColumnDef="cost">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by cost">
            Cost
          </th>
          <td mat-cell *matCellDef="let element">
            <h1>
              {{element.inventory * item.cost | currency}}
            </h1>
          </td>
          <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns;"
          (click)="navigate(row)"
        ></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>
    </ion-list>
  </div>
</ion-content>
