<form [formGroup]="formGroup" novalidate>
  <ion-row>
    <ion-col>
      <mat-form-field class="full-width">
        <mat-label>Street Address</mat-label>
        <textarea matInput placeholder="Address" formControlName="address" required></textarea>
        <mat-error *ngIf="formGroup.controls['address'].hasError('required')">
          Street Address is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </ion-col>
  </ion-row>
  <!--  <ion-row *ngIf="!hasUnitNumber">-->
  <!--    <button mat-button type="button" (click)="hasUnitNumber = !hasUnitNumber">-->
  <!--      + Add C/O, Apt, Suite, Unit-->
  <!--    </button>-->
  <!--  </ion-row>-->
  <!--  <ion-row *ngIf="hasUnitNumber">-->
  <!--    <ion-col>-->
  <!--      <mat-form-field class="full-width">-->
  <!--        <mat-label>Address 2</mat-label>-->
  <!--        <textarea matInput placeholder="Address 2" formControlName="address2"></textarea>-->
  <!--      </mat-form-field>-->
  <!--    </ion-col>-->
  <!--  </ion-row>-->

  <ion-row>
    <ion-col>
      <mat-form-field class="full-width">
        <mat-label>City</mat-label>
        <input matInput placeholder="City" formControlName="city" required>
        <mat-error *ngIf="formGroup.controls['city'].hasError('required')">
          City is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </ion-col>
    <ion-col>
      <mat-form-field class="full-width">
        <mat-label>State</mat-label>
        <mat-select placeholder="State" formControlName="state" required>
          <mat-option *ngFor="let state of states" [value]="state.abbreviation">
            {{ state.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.controls['state'].hasError('required')">
          State is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </ion-col>
    <ion-col>
      <mat-form-field class="full-width">
        <mat-label>Postal Code</mat-label>
        <input
          #postalCode
          matInput
          maxlength="5"
          placeholder="Postal Code"
          type="text"
          formControlName="postalCode"
          required
        >
        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
      </mat-form-field>
    </ion-col>
  </ion-row>
</form>
