<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Warehouse
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="centered-limited-width ion-text-center">
    <ion-card-content>
      <form [formGroup]="formGroup">
        <ion-row>
          <ion-col>
            <mat-form-field class="mat-form-field-full-width">
              <mat-label>
                Warehouse Id
              </mat-label>
              <input
                matInput
                formControlName="warehouseId"
                type="text"
              />
              <mat-error *ngIf="formGroup.controls['warehouseId'].hasError('required')">
                Warehouse ID is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </ion-col>
          <ion-col>
            <mat-form-field class="mat-form-field-full-width">
              <mat-label>
                Warehouse Name
              </mat-label>
              <input
                matInput
                formControlName="name"
                type="text"
                autocapitalize="words"
              />
              <mat-error *ngIf="formGroup.controls['name'].hasError('required')">
                Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </ion-col>
          <ion-col>
            <mat-form-field class="mat-form-field-full-width">
              <mat-label>
                Phone Number
              </mat-label>
              <input
                matInput
                required
                formControlName="phoneNumber"
                type="text"
              />
              <mat-error *ngIf="formGroup.controls['phoneNumber'].hasError('required')">
                Phone number is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-mat-address
              formControlName="address"
            ></app-mat-address>
          </ion-col>
        </ion-row>
      </form>
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>
        Inventory
      </ion-card-title>
    </ion-card-header>
    <div *ngIf="!item?.inventory?.items?.length">
      No Inventory
    </div>
    <ion-list *ngIf="item?.inventory?.items?.length">
      <mat-form-field class="mat-form-field-full-width">
        <mat-icon matPrefix>search</mat-icon>
        <mat-label>Search Inventory</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
      </mat-form-field>
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        (matSortChange)="announceSortChange($event)"
      >
        <ng-container matColumnDef="productId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by product ID">
            Product
          </th>
          <td mat-cell *matCellDef="let element">
            <ion-item lines="none" class="ion-no-padding ion-no-margin">
              <ion-label>
                <p>
                  {{element.productId}}
                </p>
                <h2>
                  {{element.product.name}}
                </h2>
                <p>
                  {{element.product.cost | currency}}/unit
                </p>
              </ion-label>
            </ion-item>
          </td>
          <td mat-footer-cell *matFooterCellDef>
            Total
          </td>
        </ng-container>
        <ng-container matColumnDef="inventory">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by inventory">
            Inventory
          </th>
          <td mat-cell *matCellDef="let element">
            <h1>
              {{element.inventory}}
            </h1>
          </td>
          <td mat-footer-cell *matFooterCellDef> {{getTotalInventory()}} </td>
        </ng-container>
        <ng-container matColumnDef="cost">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by cost">
            Cost
          </th>
          <td mat-cell *matCellDef="let element">
            <h1>
              {{element.inventory * element.product.cost | currency}}
            </h1>
          </td>
          <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns;"
          (click)="navigate(row)"
        ></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>
    </ion-list>
  </div>
</ion-content>
