<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Inventory Info
    </ion-title>
    <ion-buttons slot="end">
      <ion-button
        [disabled]="formGroup.invalid"
        (click)="save()"
      >
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="centered-limited-width ion-text-center">
    <ion-card-content>
      <form [formGroup]="formGroup">
        <ion-row>
          <ion-col>
            <mat-form-field>
              <mat-label>Warehouse</mat-label>
              <mat-select formControlName="warehouseId" name="warehouse">
                <mat-option *ngFor="let warehouse of warehouses" [value]="warehouse.id">
                  {{warehouse.warehouseId}}&nbsp;-&nbsp;{{warehouse.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formGroup.controls['warehouseId'].hasError('required')">
                Warehouse is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </ion-col>
          <ion-col>
            <mat-form-field>
              <mat-label>Product</mat-label>
              <mat-select formControlName="productId" name="product">
                <mat-option *ngFor="let product of products" [value]="product.id">
                  {{product.productId}}&nbsp;-&nbsp;{{product.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formGroup.controls['productId'].hasError('required')">
                Product is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </ion-col>
          <ion-col>
            <mat-form-field class="mat-form-field-full-width">
              <mat-label>
                Inventory
              </mat-label>
              <input
                matInput
                required
                formControlName="inventory"
                type="number"
              />
              <mat-error *ngIf="formGroup.controls['inventory'].hasError('required')">
                Inventory is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </ion-col>
        </ion-row>
      </form>
    </ion-card-content>
    <div *ngIf="items?.length">
      <table
        mat-table
        [dataSource]="dataSource"
      >
        <ng-container matColumnDef="warehouseId">
          <th mat-header-cell *matHeaderCellDef>
            Warehouse
          </th>
          <td mat-cell *matCellDef="let element">
            <ion-item lines="none" class="ion-no-padding ion-no-margin translucent" *ngIf="element?.warehouse">
              <ion-label>
                <p>
                  {{element.warehouse.warehouseId}}
                </p>
                <h2>
                  {{element.warehouse.name}}
                </h2>
              </ion-label>
            </ion-item>
          </td>
        </ng-container>
        <ng-container matColumnDef="productId">
          <th mat-header-cell *matHeaderCellDef>
            Product
          </th>
          <td mat-cell *matCellDef="let element">
            <ion-item lines="none" class="ion-no-padding ion-no-margin translucent" *ngIf="element?.product">
              <ion-label>
                <p>
                  {{element.product.productId}}
                </p>
                <h2>
                  {{element.product.name}}
                </h2>
                <p>
                  {{element.product.cost | currency}}/unit
                </p>
              </ion-label>
            </ion-item>
          </td>
        </ng-container>
        <ng-container matColumnDef="inventory">
          <th mat-header-cell *matHeaderCellDef>
            Inventory
          </th>
          <td mat-cell *matCellDef="let element">
            <h1 *ngIf="element">
              {{element.inventory}}
            </h1>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns;"
        ></tr>
      </table>
    </div>
  </div>
</ion-content>
